In [201]:
import utils

In [202]:
data = utils.get_labels_and_img_paths('all')
labels, paths = data

In [203]:
len(labels), len(paths)

(18900, 18900)

In [204]:
import pandas as pd

In [205]:
df = pd.DataFrame({"labels" : labels, "paths":paths})
df

       labels                                              paths
0           4  /opt/ml/input/data/train/images/000001_female_...
1           4  /opt/ml/input/data/train/images/000001_female_...
2           4  /opt/ml/input/data/train/images/000001_female_...
3           4  /opt/ml/input/data/train/images/000001_female_...
4           4  /opt/ml/input/data/train/images/000001_female_...
...       ...                                                ...
18895       0  /opt/ml/input/data/train/images/006959_male_As...
18896       0  /opt/ml/input/data/train/images/006959_male_As...
18897       0  /opt/ml/input/data/train/images/006959_male_As...
18898       6  /opt/ml/input/data/train/images/006959_male_As...
18899      12  /opt/ml/input/data/train/images/006959_male_As...

[18900 rows x 2 columns]

In [206]:
label_counts = df.labels.value_counts()

label_counts

4     4085
3     3660
0     2745
1     2050
16     817
10     817
15     732
9      732
12     549
6      549
5      545
2      415
7      410
13     410
11     109
17     109
8       83
14      83
Name: labels, dtype: int64

In [207]:
target = label_counts.index
target

Int64Index([4, 3, 0, 1, 16, 10, 15, 9, 12, 6, 5, 2, 7, 13, 11, 17, 8, 14], dtype='int64')

In [208]:
total = label_counts.sum()
total

18900

In [209]:
# wj=n_samples / (n_classes * n_samplesj)

w = []
for i in label_counts:
    w.append(total / (18 * i))
w

[0.25703794369645044,
 0.28688524590163933,
 0.3825136612021858,
 0.5121951219512195,
 1.285189718482252,
 1.285189718482252,
 1.4344262295081966,
 1.4344262295081966,
 1.9125683060109289,
 1.9125683060109289,
 1.926605504587156,
 2.5301204819277108,
 2.5609756097560976,
 2.5609756097560976,
 9.63302752293578,
 9.63302752293578,
 12.650602409638553,
 12.650602409638553]

In [225]:
weighted = pd.DataFrame({'label':target, 'w':w})
weighted = weighted.set_index('label')
weighted = weighted.sort_index()
weighted.w.tolist()

[0.3825136612021858,
 0.5121951219512195,
 2.5301204819277108,
 0.28688524590163933,
 0.25703794369645044,
 1.926605504587156,
 1.9125683060109289,
 2.5609756097560976,
 12.650602409638553,
 1.4344262295081966,
 1.285189718482252,
 9.63302752293578,
 1.9125683060109289,
 2.5609756097560976,
 12.650602409638553,
 1.4344262295081966,
 1.285189718482252,
 9.63302752293578]

<bound method DataFrame.sort_index of     label          w
0       4   0.257038
1       3   0.286885
2       0   0.382514
3       1   0.512195
4      16   1.285190
5      10   1.285190
6      15   1.434426
7       9   1.434426
8      12   1.912568
9       6   1.912568
10      5   1.926606
11      2   2.530120
12      7   2.560976
13     13   2.560976
14     11   9.633028
15     17   9.633028
16      8  12.650602
17     14  12.650602>

In [ ]:
' '.join(str(w) for w in weightes.tolist())

py에 들어가 있는 코드

In [228]:
from utils import get_labels_and_img_paths
size = 'all'
data = get_labels_and_img_paths(size)
labels, paths = data
df = pd.DataFrame({"labels" : labels, "paths":paths})
label_counts = df.labels.value_counts()
target = label_counts.index
total = label_counts.sum()

# wj=n_samples / (n_classes * n_samplesj)

w = []
for i in label_counts:
    w.append(total / (18 * i))

weighted = pd.DataFrame({'label':target, 'w':w})
weighted = weighted.set_index('label')
weighted = weighted.sort_index()
weights = weighted.w.tolist()    
    
weights

[0.3825136612021858,
 0.5121951219512195,
 2.5301204819277108,
 0.28688524590163933,
 0.25703794369645044,
 1.926605504587156,
 1.9125683060109289,
 2.5609756097560976,
 12.650602409638553,
 1.4344262295081966,
 1.285189718482252,
 9.63302752293578,
 1.9125683060109289,
 2.5609756097560976,
 12.650602409638553,
 1.4344262295081966,
 1.285189718482252,
 9.63302752293578]